* {
  font-family: 'Noto Sans', sans-serif;
}

@font-face {
  font-family: iCielSoup;
  src: url('../fonts/iCielSoupofJustice.ttf') format('truetype');
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("../img/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-mobile {
  display: none;
}

.menu-mobile {
  display: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #FDEBEC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  height: 3.5vw;
  width: 100%;
}

.header p {
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 2vw;
  color: #F287B7;
  margin-left: 0.5vw;
}

.header .header-hotline, .header-facebook, .header-website {
  display: flex;
  align-items: center;
}

.header-facebook img {
  width: 2vw;
  height: 2vw;
}

.header .header-facebook:hover {
  cursor: pointer;
}

.header .header-website:hover {
  cursor: pointer;
}

.header .logo-hotline {
  width: 5.3vw;
  height: 1.7vw;
  background: #F287B7;
  border-radius: 0.5vw;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 0.7vw;
  line-height: 1.7vw;
}

.header .logo-website {
  width: 3.5vw;
}

.home #cloud1 {
  position: absolute;
  top: 15vw;
  left: 8vw;
}

#cloud1>img {
  width: 8.4vw;
}

.home #cloud2 {
  position: absolute;
  top: 12vw;
  right: 9vw;
}

#cloud2>img {
  width: 9.4vw;
}

.welcome-page {
  position: absolute;
  top: 3.5vw;
}

.welcome-page img {
  display: block;
  margin: 0 auto;
  width: 90vw;
}

.welcome-title p {
  color: #fff;
  font-family: iCielSoup;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: neon 0.5s ease-in-out infinite alternate;
  -moz-animation: neon 0.5s ease-in-out infinite alternate;
  animation: neon 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0.14vw 0 0 #A68E4E, -0.14vw 0 0 #A68E4E, 0 0.14vw 0 #A68E4E, 0 -0.14vw 0 #A68E4E, 0.07vw 0.07vw #A68E4E, 0.07vw -0.07vw #A68E4E, -0.07vw 0.07vw #A68E4E, -0.07vw -0.07vw #A68E4E, -0.14vw 0.14vw #A68E4E, -0.21vw 0.21vw #A68E4E, -0.28vw 0.28vw #A68E4E, -0.35vw 0.35vw #A68E4E, 0 0 1.1vw #fff, 0 0 1.4vw #fff, 0 0 3.47vw #fff41b, 0 0 6.9vw #fff41b;
  }
  to {
    text-shadow: 0.14vw 0 0 #A68E4E, -0.14vw 0 0 #A68E4E, 0 0.14vw 0 #A68E4E, 0 -0.14vw 0 #A68E4E, 0.07vw 0.07vw #A68E4E, 0.07vw -0.07vw #A68E4E, -0.07vw 0.07vw #A68E4E, -0.07vw -0.07vw #A68E4E, -0.14vw 0.14vw #A68E4E, -0.21vw 0.21vw #A68E4E, -0.28vw 0.28vw #A68E4E, -0.35vw 0.35vw #A68E4E, 0 0 0.49vw #fff, 0 0 0.56vw #fff, 0 0 0.7vw #fff41b, 0 0 1.4vw #fff41b;
  }
}

.welcome-title {
  position: absolute;
  text-align: center;
  font-size: 3.9vw;
  line-height: 5.2vw;
  top: 21vw;
}

.home .content {
  width: 65vw;
  background: #FDEBEC;
  padding-top: 20vw;
  margin-top: 38vw;
}

.content img {
  display: block;
  margin: 0 auto;
}

.content #title-img {
  width: 80%;
  animation: shake 2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}

.content #title-arrow {
  width: 10%;
  padding-bottom: 2vw;
  animation: pulse 0.4s infinite;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

.content .countdown-title {
  text-align: center;
  font-weight: 800;
  font-size: 1.5vw;
  line-height: 2vw;
  color: #F287B7;
}

.content .countdown-date {
  font-weight: normal;
}

.content .countdown-timer {
  margin-top: 0.56vw;
  width: 100%;
  height: 7.6vw;
  display: flex;
  align-items: center;
  position: relative;
}

.countdown-timer #countdown-note {
  font-weight: bold;
  font-size: 1vw;
  line-height: 4.1vw;
  color: #F287B7;
  position: absolute;
  right: 50vw;
  top: 0;
  height: 4.1vw;
}

.countdown-timer .timer-wrapper {
  margin: auto;
  height: 100%;
  width: 60vw;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
}

.timer-wrapper div {
  display: inline-block;
}

.timer-wrapper span {
  display: block;
  font-weight: 800;
  font-size: 1vw;
  line-height: 1.3vw;
  color: #F287B7;
  margin-top: 0.5vw;
}

.timer-wrapper .time-unit {
  background: #F287B7;
  border-radius: 0.4vw;
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 4.1vw;
  width: 2.7vw;
  color: #ffffff;
}

#days, #hours, #minutes, #seconds {
  margin: 0 0.7vw;
}

.content .btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2.5vw;
  margin-bottom: 4.1vw;
}

.btn-wrapper>div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ED3982;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  margin: 0 1vw;
  text-align: center;
  font-weight: bold;
  font-size: 1.6vw;
  cursor: pointer;
  border-radius: 3.9vw;
  width: 22.2vw;
  height: 6.9vw;
}

.btn-wrapper #btn-gift {
  position: relative;
}

.btn-wrapper #btn-gift:hover {
  background: #ED1C24;
}

#btn-gift #flower1 {
  position: absolute;
  top: -2.1vw;
  left: -2.1vw;
}

#btn-gift #flower1>img {
  width: 10.4vw;
}

#btn-gift .btn-gift-content {
  display: flex;
  align-items: center;
}

.btn-gift-content .gift-logo {
  margin-right: 0.5vw;
}

.gift-logo>img {
  width: 2.6vw;
}

.btn-wrapper #btn-store {
  position: relative;
}

.btn-wrapper #btn-store:hover {
  background: #ED1C24;
}

#btn-store #flower2 {
  position: absolute;
  right: -3.8vw;
  bottom: -3.1vw;
}

#btn-store #flower2>img {
  width: 11.4vw;
}

.home #store-location-page {
  background-image: url("../img/year-end-campaign1.png"), linear-gradient(to right, #F287B7, #F287B7);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0.8vw;
  width: 75%;
  height: 45vw;
  padding-top: 3.1vw;
  position: relative;
  background-position-y: calc(100% + 1px);
}

#store-location-page #flower3 {
  position: absolute;
  top: -2.1vw;
  right: -3.5vw;
}

#store-location-page #flower3>img {
  width: 8.8vw;
}

#store-location-page #flower4 {
  position: absolute;
  left: -5.9vw;
  bottom: -2.1vw;
}

#store-location-page #flower4>img {
  width: 12.3vw;
}

#store-location-page .location-selector {
  float: left;
  width: 40%;
  padding-left: 5.1vw;
}

/*the container must be positioned relative:*/

.custom-select, .custom-select2 {
  position: relative;
  width: 100%;
  height: 4.2vw;
  font-weight: bold;
  font-size: 1.25vw;
  line-height: 1.7vw;
  margin-bottom: 2.6vw;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.custom-select2 select {
  display: none;
}

.select-selected {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.4vw;
}

/*style the arrow inside the select element:*/

.select-selected:after {
  position: absolute;
  content: "";
  top: 1.2vw;
  right: 1.4vw;
  width: 0;
  height: 0;
  border: 0.4vw solid transparent;
  border-color: #F287B7 transparent transparent transparent;
}

/*style the items (options), including the selected item:*/

.select-items div, .select-selected {
  color: #F287B7;
  padding: 0.5vw 1.1vw;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  font-weight: 800;
  font-size: 1.25vw;
  line-height: 1.7vw;
}

/*style items (options):*/

.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 29.1vw;
  overflow-y: scroll;
  z-index: 99;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
  border-radius: 0.5vw;
}

/*hide the items when the select box is closed:*/

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(253, 235, 236, 0.7);
}

#store-location-page .store-list {
  float: left;
  height: 84%;
  width: 44%;
  padding-left: 5vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.store-list .store-address {
  width: 90%;
  height: 5vw;
  background: #FDEBEC;
  background-blend-mode: multiply;
  border-radius: 2.5vw;
  padding: 1.25vw 2.5vw;
  margin-bottom: 0.2vw;
  background-color: #F07CA9;
}

.store-address p {
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 1.25vw;
  color: #FFFFFF;
}

.store-address .store-name {
  font-weight: 800;
  font-size: 1.1vw;
  line-height: 1.5vw;
}

::-webkit-scrollbar {
  width: 0.3vw;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #FDEBEC;
  border-radius: 0.7vw;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.7vw;
  -webkit-box-shadow: inset 0 0 5px rgba(242, 135, 183, 0.5);
}

.home .content2 {
  width: 65vw;
  background: #FDEBEC;
  padding-top: 15vw;
}

.home .gift-img {
  position: relative;
}

.home .color-picker {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.home .color-picker-mid {
  bottom: 10%;
}

.home .dot {
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  border: 0.5px solid #BBBBBB;
  margin: 0.2vw;
  display: inline-block;
}

.home .dot-active {
  width: 1.3vw;
  height: 1.3vw;
}

.home .dot:hover:not(.dot-active) {
  transform: scale(1.3);
}

.home .dot-blue {
  background-color: #27AAE1;
}

.home .dot-brown {
  background-color: #A25F44;
}

.home .dot-pink {
  background-color: #F287B7;
}

.home .dot-red {
  background-color: #ED1C24;
}

.home .dot-white {
  background-color: #FFFFFF;
}

.home .dot-cyan {
  background-color: #48C3CB;
}

.home .dot-yellow {
  background-color: #FFD039;
}

.home .dot-black {
  background-color: #000000;
}

.home #gift-page1-mobile, #gift-page2-mobile, #gift-page3-mobile {
  display: none;
}

.home #gift-page1 {
  position: relative;
  width: 80vw;
  height: 30vw;
  background: #FFFFFF;
  box-shadow: 0px 15px 25px rgba(215, 168, 189, 0.4);
  border-radius: 12px;
}

#gift-page1 #flower5 {
  position: absolute;
  top: -5vw;
  right: -4.5vw;
}

#gift-page1 #flower5>img {
  width: 13vw;
}

#gift-page1 #flower6 {
  position: absolute;
  left: -4vw;
  bottom: -2vw;
}

#gift-page1 #flower6>img {
  width: 7vw;
}

#gift-page1 #banner1 {
  position: absolute;
  left: -5vw;
  top: -8vw;
  width: 25vw;
}

#gift-page1 #banner1 img {
  width: 100%;
}

#gift-page1 .gift-list1 {
  position: absolute;
  left: 25%;
  right: 10%;
  top: -10vw;
  display: flex;
  justify-content: space-between;
}

.gift-list1 img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.gift-list1>div {
  width: 45%;
}

.home #gift-page2 {
  position: relative;
  width: 80vw;
  height: 22vw;
  background: #FFFFFF;
  box-shadow: 0px 15px 25px rgba(215, 168, 189, 0.4);
  border-radius: 12px;
}

#gift-page2 #flower7 {
  position: absolute;
  right: -3.2vw;
  bottom: -2.9vw;
}

#gift-page2 #flower7>img {
  width: 12vw;
}

#gift-page2 #banner2 {
  position: absolute;
  left: -1vw;
  top: -8vw;
}

#gift-page2 #banner2>img {
  width: 18vw;
}

#gift-page2 .gift-list2 {
  position: absolute;
  left: 20%;
  right: 4%;
  top: -7.5vw;
  display: flex;
}

.gift-list2 img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.gift-list2 div:nth-child(2) img {
  width: 76%;
  margin-top: 5vw;
}

.gift-list2 div:nth-child(3) img {
  width: 112%;
  margin-top: -0.7vw;
}

.gift-list2>div {
  width: 30%;
  margin: 0 2%;
  position: relative;
}

.home .gift-list2 .gift-title {
  margin: 0;
  position: absolute;
  left: 0;
  top: 20vw;
}

.home .gift-list2 div:nth-child(3) .gift-title {
  white-space: nowrap;
}

.home .gift-list2 .gift-detail {
  margin: 1vw 0 0;
  position: absolute;
  left: 0;
  top: 22vw;
  padding-right: 2vw;
}

.home #gift-page3 {
  position: relative;
  width: 80vw;
  height: 18vw;
  background: #FFFFFF;
  box-shadow: 0 15px 25px rgba(215, 168, 189, 0.4);
  border-radius: 12px;
}

#gift-page3 #flower8 {
  position: absolute;
  left: -2.9vw;
  bottom: -3.5vw;
}

#gift-page3 #flower8 img {
  width: 8vw;
}

#gift-page3 #banner3 {
  position: absolute;
  left: -1vw;
  top: -7vw;
}

#gift-page3 #banner3>img {
  width: 14vw;
}

#gift-page3 .gift-list3 {
  position: absolute;
  left: 25%;
  right: 5%;
  top: -12vw;
  display: flex;
}

.gift-list3 img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto -2vw;
}

.gift-list3>div {
  width: 40%;
  margin: 0 2%;
}

.home .gift-list3 div:nth-child(2) .gift-title {
  white-space: nowrap;
}

.home .content3 {
  width: 65vw;
  height: 20.8vw;
  background: #FDEBEC;
  position: relative;
}

.content3 .contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: -3.5vw;
}

.contact p {
  font-weight: 800;
  font-size: 1.25vw;
  line-height: 1.7vw;
  color: #F287B7;
  margin-left: 0.5vw;
}

.contact .contact-hotline, .contact-facebook, .contact-website {
  display: flex;
  align-items: center;
}

.contact .contact-facebook:hover {
  cursor: pointer;
}

.contact .contact-facebook>img {
  width: 2vw;
  height: 2vw;
}

.contact .contact-website:hover {
  cursor: pointer;
}

.contact .logo-hotline {
  width: 4.4vw;
  height: 1.4vw;
  background: #F287B7;
  border-radius: 7px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 0.7vw;
  line-height: 1.4vw;
}

.contact .logo-website {
  width: 2.8vw;
}

.content3 #flower9 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -10.8vw;
}

.content3 #flower9>img {
  width: 32vw;
}

.content3 #banner4 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -1.25vw;
}

.content3 #banner4>img {
  width: 18vw;
}

.home .footer-note-mobile {
  display: none;
}

.home .footer-note {
  margin-top: 15.6vw;
  margin-bottom: 3.5vw;
  text-align: center;
}

.footer-note p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 0.8vw;
  line-height: 1vw;
  color: #ED3982;
}

.home .gift-title {
  font-weight: bold;
  font-size: 1.6vw;
  line-height: 1.35;
  color: #F287B7;
  margin: 0 3vw;
}

.home .gift-detail {
  font-weight: normal;
  font-size: 1.4vw;
  line-height: 1.4;
  color: #6C59A6;
  margin: 1vw 3vw 0;
}

.home .empty-div {
  height: 1.5vw;
}

.zoom:hover {
  transform: scale(1.1) !important;
  animation-duration: 5s;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .home #store-location-page {
    height: auto;
    padding-bottom: 2vw;
  }
  #store-location-page .location-selector {
    float: none;
    padding-left: 0;
    margin: 0 auto;
    width: 50%;
  }
  #store-location-page .store-list {
    float: none;
    width: 50vw;
    max-height: 40vw;
    padding-left: 0;
    margin-left: calc(50% - 22.5vw);
    margin-bottom: 7vw;
  }
}

@media screen and (max-width: 425px) {
  .header {
    display: none;
  }
  .home .content {
    width: 75vw;
    padding-top: 24vw;
    margin-top: 50vw;
  }
  .header-mobile {
    display: flex;
    justify-content: space-between;
    background-color: #FDEBEC;
    width: 100%;
    height: 20vw;
    padding: 5vw 9vw;
  }
  .header-mobile #logo>img {
    width: 25.7vw;
  }
  .header-mobile #menu-logo>img {
    width: 7.9vw;
  }
  .welcome-page {
    top: 25.5vw;
  }
  .welcome-page img {
    width: 106vw;
  }
  .welcome-title {
    top: 48.5vw;
    font-size: 4.9vw;
  }
  .home #cloud1 {
    top: 36vw;
    left: 5vw;
  }
  .home #cloud2 {
    top: 29vw;
    right: 13vw;
  }
  .home #cloud2 img {
    width: 13.4vw;
  }
  .menu-mobile {
    width: 100%;
    height: 100vh;
    background-color: #F7BCD7;
    position: relative;
    padding-top: 40vw;
  }
  .menu-mobile .close-btn {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 7vw;
    right: 10vw;
  }
  .menu-mobile .close-btn>img {
    width: 10vw;
    display: block;
    margin: 0 auto;
  }
  .menu-mobile .menu-item {
    text-align: center;
    width: 100%;
    color: #F289B8;
    padding: 1vw;
    font-weight: bold;
    font-size: 6vw;
    height: 14vw;
    line-height: 14vw;
  }
  .menu-mobile .menu-item:hover {
    background-color: #FFFFFF;
  }
  .content #title-img {
    width: 120%;
    margin-left: -10%;
  }
  .content #title-arrow {
    width: 15%;
    padding-bottom: 1.3vw;
  }
  .content .countdown-title {
    font-size: 4.5vw;
    line-height: 6.1vw;
  }
  .content .countdown-date {
    font-size: 4.2vw;
    line-height: 4.2vw;
  }
  .content .countdown-timer {
    margin-top: 2.5vw;
    height: 10vw;
  }
  .timer-wrapper .time-unit {
    border-radius: 1vw;
    font-size: 4vw;
    line-height: 6.8vw;
    width: 5vw;
    height: 6.8vw;
    margin: 0 -1px;
  }
  .countdown-timer #countdown-note {
    font-weight: bold;
    font-size: 1.85vw;
    line-height: 6.8vw;
    right: 63vw;
    height: 6.8vw;
  }
  .timer-wrapper span {
    font-size: 1.84vw;
    line-height: 3.5vw;
  }
  .content .btn-wrapper {
    justify-content: space-between;
    flex-direction: column;
    height: 43vw;
    margin: 10.8vw 9vw 9vw;
  }
  .btn-wrapper>div {
    width: 100%;
    height: 18vw;
    border-radius: 15vw;
    margin: 0 auto;
    font-weight: 800;
    font-size: 4.5vw;
    line-height: 5.9vw;
  }
  #btn-gift #flower1 {
    position: absolute;
    top: -6.3vw;
    left: -5vw;
  }
  #btn-gift #flower1>img {
    width: 25vw;
  }
  .btn-gift-content .gift-logo {
    margin-right: 1.5vw;
  }
  .gift-logo>img {
    width: 6vw;
  }
  #btn-store #flower2 {
    position: absolute;
    right: -9.7vw;
    bottom: -6.3vw;
  }
  #btn-store #flower2>img {
    width: 31vw;
  }
  .home #store-location-page {
    width: 93%;
    border-radius: 4vw;
  }
  #store-location-page .location-selector {
    margin-top: 3vw;
    width: 60%;
  }
  .custom-select, .custom-select2 {
    height: 11vw;
    margin-bottom: 5vw;
  }
  .select-items div, .select-selected {
    padding: 0 0 0 4vw;
    height: 11vw;
    font-size: 4vw;
    line-height: 11vw;
  }
  .select-items div {
    padding: 0;
    text-align: center;
  }
  .select-selected {
    border-radius: 2vw;
  }
  .select-selected:after {
    top: 50%;
    transform: translateY(-50%);
    right: 6vw;
    width: 0;
    height: 0;
    border: 1.5vw solid transparent;
    border-color: #F287B7 transparent transparent transparent;
  }
  .select-items {
    top: 120%;
    border-radius: 1.5vw;
    max-height: 70vw;
  }
  #store-location-page .store-list {
    max-height: 100vw;
    width: 80vw;
    margin-left: calc(50% - 36vw);
  }
  .store-list .store-address {
    width: 90%;
    height: 19vw;
    border-radius: 10.5vw;
    margin-bottom: 1.2vw;
    padding: 4vw 0 3vw 8vw;
  }
  .store-address p {
    font-weight: 500;
    font-size: 3.2vw;
    line-height: 8.3vw;
  }
  .store-address .store-name {
    font-size: 3.7vw;
    line-height: 5vw;
  }
  #store-location-page #flower3 {
    top: -6.2vw;
    right: -5.6vw;
    transform: rotate(-14deg);
  }
  #store-location-page #flower3>img {
    width: 15vw;
  }
  #store-location-page #flower4 {
    left: -5vw;
    bottom: 7vw;
  }
  #store-location-page #flower4>img {
    width: 13vw;
  }
  /* gift page start */
  .home #gift-page1, #gift-page2, #gift-page3 {
    display: none;
  }
  .home #gift-page1-mobile, #gift-page2-mobile, #gift-page3-mobile {
    display: block;
    position: relative;
  }
  .home #gift-page1-mobile {
    width: 100vw;
    height: 150vw;
    background: #FFFFFF;
    box-shadow: 0px 15px 25px rgba(215, 168, 189, 0.4);
    border-radius: 12px;
  }
  .home .content2 {
    padding-top: 34vw;
    width: 75vw;
  }
  .gift-description .gift-title {
    font-weight: bold;
  }
  #gift-page1-mobile #banner1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -22vw;
  }
  #gift-page1-mobile #banner1>img {
    width: 53vw;
  }
  #gift-page1-mobile .gift-list-mobile {
    margin-top: 25vw;
    height: 60%;
  }
  #gift-page1-mobile #banner2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -20vw;
  }
  #gift-page1-mobile #banner2>img {
    width: 36.7vw;
  }
  #gift-page1-mobile .owl-carousel .owl-item img {
    width: 91%;
  }
  #gift-page1-mobile .owl-dots {
    margin-top: -4vw;
  }
  #gift-page1-mobile .owl-dots span {
    width: 2vw;
    height: 2vw;
  }
  #gift-page1-mobile .owl-dots button:nth-child(1) span {
    background-color: #27AAE1;
  }
  #gift-page1-mobile .owl-dots button:nth-child(2) span {
    background-color: #F287B7;
  }
  #gift-page1-mobile .owl-dots button:nth-child(3) span {
    background-color: #A25F44;
  }
  #gift-page1-mobile .owl-dots button.active span {
    width: 3.5vw;
    height: 3.5vw;
  }
  #gift-page1-mobile .gift-description {
    width: 65%;
    position: absolute;
    top: 70%;
    display: block;
    left: 50%;
    transform: translateX(-50%);
  }
  #gift-page1-mobile .gift-description .gift-title {
    font-size: 6vw;
    line-height: 1.1;
  }
  #gift-page1-mobile .gift-description .gift-detail {
    font-size: 5vw;
    line-height: 1.5;
  }
  /* gift page 2 mobile */
  .home #gift-page2-mobile {
    width: 100vw;
    height: 150vw;
    background: #FFFFFF;
    box-shadow: 0px 15px 25px rgba(215, 168, 189, 0.4);
    border-radius: 12px;
  }
  #gift-page2-mobile .gift-list-mobile {
    margin-top: 25vw;
    height: 60%;
  }
  #gift-page2-mobile .owl-carousel .owl-item img {
    width: 108%;
  }
  #gift-page2-mobile .gift-description {
    width: 70%;
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    top: 73%;
  }
  #gift-page2-mobile .gift-description .gift-title {
    font-size: 6vw;
    line-height: 1.1;
  }
  #gift-page2-mobile .gift-description .gift-detail {
    font-size: 5vw;
    line-height: 1.5;
  }
  #gift-page2-mobile #banner2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -20vw;
  }
  #gift-page2-mobile #banner2>img {
    width: 36.7vw;
  }
  #gift-page2-mobile .owl-dots {
    margin-top: 11vw;
  }
  #gift-page2-mobile .owl-dots span {
    width: 2vw;
    height: 2vw;
  }
  #gift-page2-mobile .owl-dots button:nth-child(1) span {
    background-color: #48C3CB;
  }
  #gift-page2-mobile .owl-dots button:nth-child(2) span {
    background-color: #F287B7;
  }
  #gift-page2-mobile .owl-dots button:nth-child(3) span {
    background-color: #FFD039;
  }
  #gift-page2-mobile .owl-dots button.active span {
    width: 3.5vw;
    height: 3.5vw;
  }
  /* gift page 3 mobile */
  .home #gift-page3-mobile {
    width: 100vw;
    height: 110vw;
    background: #FFFFFF;
    box-shadow: 0px 15px 25px rgba(215, 168, 189, 0.4);
    border-radius: 12px;
  }
  #gift-page3-mobile #banner3 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -16vw;
  }
  #gift-page3-mobile #banner3>img {
    width: 32vw;
  }
  #gift-page3-mobile .gift-list-mobile {
    margin-top: 15vw;
    height: 60%;
  }
  #gift-page3-mobile .gift-description {
    width: 65%;
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    top: 65%;
  }
  #gift-page3-mobile .owl-dots {
    display: none;
  }
  #gift-page3-mobile .gift-title {
    font-size: 6vw;
    line-height: 1.1;
  }
  #gift-page3-mobile .gift-detail {
    font-size: 5vw;
    line-height: 1.5;
  }
  /* content footer */
  .home .content3 {
    width: 75vw;
    height: 100vw;
    border-bottom-left-radius: 120px 30%;
    border-bottom-right-radius: 120px 30%;
  }
  .content3 .contact {
    flex-direction: column;
    height: 26%;
    align-items: center;
    position: relative;
    bottom: -5.5vw;
    justify-content: space-between;
    margin-top: 12vw;
  }
  .contact p {
    font-size: 4vw;
    margin-left: 1.5vw;
  }
  .contact .contact-facebook>img {
    width: 5vw;
    height: 5vw;
  }
  .contact .contact-website:hover {
    cursor: pointer;
  }
  .contact .logo-hotline {
    width: 14vw;
    height: 5vw;
    font-size: 2vw;
    line-height: 5vw;
    border-radius: 4px;
  }
  .contact .logo-website {
    width: 9vw;
    border-radius: 4px;
  }
  .content3 #flower9 {
    bottom: -6vw;
  }
  .content3 #flower9>img {
    width: 80vw;
  }
  .content3 #banner4 {
    bottom: 15vw;
  }
  .content3 #banner4>img {
    width: 43vw;
  }
  .home .footer-note {
    display: none;
  }
  .home .footer-note-mobile {
    display: block;
    margin-top: 15.6vw;
    margin-bottom: 3.5vw;
    width: 90%;
  }
  .home .footer-note-mobile div {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 1vw auto;
    font-size: 3vw;
    line-height: 1.2;
    margin-bottom: 3.5vw;
    color: #ED3982;
  }
  .home .footer-note-mobile div:nth-child(1) {
    width: 70vw;
  }
  .home .footer-note-mobile div:nth-child(2) {
    width: 52vw;
  }
  .home .footer-note-mobile div:nth-child(3) {
    width: 36vw;
  }
}